body { margin:0;padding:0;font:normal 12px Tahoma,Verdana,Arial;background-color:#E6E6E6;}
.container{width:758px;border:none;text-align:center;}
th {
	color : #000000;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
input, select {
	color : #000000;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.px {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 2px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px5 {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 5px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.title01 {
	color : #FFFFFF;
	margin-top : 10px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 15px;
	font-size : 13px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
	font-style: italic;
}
.title {color:#FFFFFF;margin:1px 10px 1px 37px;padding-bottom:1px;font-size:10px;font-weight:bold;}
.title a{color:#EF6D00;}
.title a:hover {color:#C25A02;}
.list {
	color : #FFFFFF;
	margin-top : 3px;
	padding-bottom : 3px;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 15px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right a, .list a {
	color : #FF7500;
}
.right a:hover {
	color : #AAAAAA;
}
.left {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 15px;
	margin-right : 25px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.left b {
	color : #FF6600;
}
.left a {
	color : #FF6600;
}
.left a:hover {
	color : #FF0000;
}
p {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p a {
	color : #000000;
}
p a:hover {
	color : #294A7B;
}
.menu01 {color:#000000;margin:1px 10px 0px 10px;padding-bottom:1px;font-size:11px;}
.menu01 a {color:#000000;text-decoration:none;}
.menu01 a:hover {color:#555555;}
.menu02 {color:#FFFFFF;margin:0px;padding-left:50px;font-size:11px;font-weight:bold;list-style:none;}
.menu02 li{float:left;padding:0 10px;}
.menu02 a {
	color : #FFFFFF;
	text-decoration: none;
}
.menu02 a:hover {
	color : #DDDDDD;
}
.bar01 {
	color: #OOOOOO;
	margin-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 20px;
	font-size: 18px;
	font-family: Arial,Tahoma,Verdana;
	font-weight: bold;
}
.b01 {
	color : #000000;
	margin-top : 2px;
	padding-bottom : 1px;
	margin-bottom : 1px;
	margin-left : 20px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.b01 a {
	color : #000000;
	text-decoration: none;
}
.b01 a:hover {
	color : #333333;
}
.message{color:#E52874;font-size:12pt;font-weight:bold;padding-bottom:15px;}
#logo{width:184px;height:129px;text-align:center;background:#FFFFFF url(../img/main/logo_bg.gif);}
#menubar table,#menubar_sub table{width:100%;border:none;}
#menubar .menu{background:url(../img/main/b_bg.gif);height:30px;width:115px;}
#menubar .menu_sel{background:url(../img/main/b_bg_h.gif);height:30px;width:115px;}
#menubar .first{background:url(../img/main/b_bg1.gif);height:30px;width:114px;}
#menubar .first_sel{background:url(../img/main/b_bg1_h.gif);height:30px;width:114px;}
#menubar .menu a,#menubar .menu_sel a,#menubar .first a,#menubar .first_sel a{color:#FFFFFF;text-decoration:none;font-size:10pt;font-weight:bold;}
#menubar .menu div,#menubar .menu_sel div,.#menubar .first div,#menubar .first_sel div{padding-top:5px;text-align:center;cursor:pointer;height:25px;}

#menubar_sub{background:url(../img/main/fon_top01.gif);height:37px;}
.search_view{height:40px;background:url(../img/main/form03.gif);text-align:left;padding-left:32px;}
.cart_view{background:url(../img/main/form04.gif);width:233px;height:40px;}

#main_left{width:184px;background:url(../img/main/fon_left03.gif);}
#left_side{background:url(../img/main/fon_left01.gif);width:100%;border:none;}
.board{width:165px;background:url(../img/main/fon_left02.gif);border:none;}
.board_head_1{background:transparent url(../img/main/left01.gif) no-repeat; height:26px;text-align:right;}
.board_head_2{background:transparent url(../img/main/left02.gif) no-repeat; height:26px;text-align:right;}
#tree_view{text-align:left;}
#tree_view ul{list-style:none;margin:0px;padding:5px 5px 5px 20px;font-size:8pt;}
#tree_view li{padding:3px 0px 3px 10px;background:transparent url(../img/main/e02.gif) no-repeat left 0.76em;}
#tree_view li a{text-decoration:none;color:#000000;}
#tree_view .sel_cat{background-color:#359;color:#FFF;}
.login_view{text-align:left;padding-left:18px;font-size:8pt;}
.login_info_head{text-align:center;padding:10px 0 5px 0;font-size:11pt;font-weight:bold;}
.login_info_user{font-size:10pt;font-weight:bold;color:#E52874;padding-bottom:10px;text-align:center;}
.login_info_user a{text-decoration:none;}
.board_bot{background:url(../img/main/left_bot02.gif);width:165px;height:18px;}
.left_bot{background:url(../img/main/left_bot01.gif);width:185px;height:32px;}

#main_right{background-color:#FFFFFF;width:572px;height:620px;padding-bottom:10px;}
#main_right .m_top{height:8px;background:transparent url(../img/main/m_top.gif) no-repeat center top;}
.title_new,.title_discount{width:95%;height:25px;background:url(../img/main/fon_bar01.gif);}
.sortbar { margin:10px 0 0; font-size:11px; font-weight:bold; color:#f93; text-align:center; }
.sortbar h3 { display:inline; margin:0; padding:0; font-size:11px; color:#036; }
.sortbar ul, .sortbar li { display:inline; margin:0; padding:0; }
.sortbar li { margin:0 0 0 4px; padding:0 0 0 4px; border-left:1px solid #036;}
.sortbar li.first { border-left:none; }
.sortbar a { font-weight:normal; color:#359; text-decoration:none; }
.sortbar a:hover { text-decoration:underline; }
.sortbar .current_asc {padding-right:15px;background:transparent url(../img/main/cur_sort_a.gif) no-repeat right center;}
.sortbar .current_desc {padding-right:15px;background:transparent url(../img/main/cur_sort_d.gif) no-repeat right center;}
.sortbar .sort_desc {padding-right:15px;background:transparent url(../img/main/sort_d.gif) no-repeat right center;}
.sortbar .sort_asc{padding-right:15px;background:transparent url(../img/main/sort_a.gif) no-repeat right center;}
.pagebar { height:20px;padding-top:15px; margin: 0px; text-align:center;}
.pagebar h3 { display:inline; margin:0; padding:0; font-size:11px; color:#036;}
.pagebar ul, .pagebar li { display:inline; margin:0; padding:0; }
.pagebar a { font-family:Arial,Helvetica,sans-serif;padding: 2px 5px 2px 5px; margin: 1px; border: 1px solid #d7deeb; text-decoration: none; color: #359; background-color: #fff; }
.pagebar a:hover, .pagebar a:active { border: 1px solid #359; color: #359; }
.pagebar .current { padding: 2px 5px 2px 5px; margin: 1px; border: 1px solid #359; font-weight: bold; background-color: #359; color: #fff; }
.btn_buy{margin:0;padding:0;list-style:none;}
.btn_buy li{float:right;}

.title_product{text-align:left;padding-bottom:15px;color:#E52874;font-size:12pt;font-weight:bold;}
.image_product{text-align:center;width:380px;}
.qty_product{padding-bottom:10px;}
.board_product{vertical-align:top;text-align:center;}
.rrp_price{text-decoration:line-through;padding:5px 0 10px 0;color:#804040;font-weight:bold;font-size:10pt;}
.deal_price{font-size:15pt;font-weight:bold;color:#1973BA;padding:5px 0;}
.deal_price span{font-size:8pt;}
.title_deal{font-weight:bold;font-size:15pt;color:#E52874;padding-bottom:5px;}
.features{text-align:left;}
.features li{padding:2px 0;}
.title_feature{font-weight:bold;font-size:11pt;color:#E52874;}
.long_desc{text-align:justify;padding:10px 0;}

.cart_title{color:#E52874;font-size:12pt;font-weight:bold;padding-bottom:15px;}
.cart_view_list{width:95%;border-collapse:collapse;border:none;}
.cart_view_list .column{font-weight:bold;background-color:#1973BA;color:#FFFFFF;}
.cart_view_list td{border:1px solid #7F9BB9;height:25px;text-align:center;padding:0 1px;word-wrap:break-word;overflow:hidden;}

.login_title{color:#E52874;font-size:10pt;font-weight:bold;padding-bottom:15px;}
.login_title a{color:blue;}
.login_table{border:1px solid #7F9BB9;}
.login_form{padding-left:10px;padding-right:10px;}

.reg_form_table{text-align:center;width:95%;border:1px solid #7F9BB9;}
.reg_form_table .header {font-weight:bold;width:120px;padding:10px 0;}
.reg_form_table .field {color:#804040;font-weight:bold;padding:10px 0;text-align:left;}
.reg_form_title{font-weight:bold;background-color:#1973BA;color:#FFFFFF;font-size:10pt;padding:5px;}
.reg_table{text-align:left;width:95%;}
.msg_note, .msg_warn{font-weight:bold;color:red;text-align:center;padding-bottom:5px;}
.msg_note {color:#804040;}
.reg_button{padding-top:10px;padding-bottom:5px;}
.reg_button input{width:120px;}
.reg_title{padding:5px 15px;font-weight:bold;padding:px;background:transparent url(../img/main/e01.gif) no-repeat left center;}

.prof_title{background:#1973BA url(../img/main/e01.gif) no-repeat left center;color:#FFFFFF;padding:5px 15px;font-weight:bold;text-align:left;}
.prof_edit{background-color:#1973BA;font-weight:bold;padding-right:5px;text-align:right;}
.prof_edit a{color:#FFFFFF;}
.prof_detail {width:100%;font-size:8pt;} 
.prof_detail td{text-align:left;padding:3px 15px;}
.prof_head{width:80px;font-weight:bold;}

.order_guide{margin:0;padding:0;list-style:none;float:left;width:470px;}
.order_guide li{float:left;}
.order_sheet {width:100%;border-collapse:collapse;}
.order_sheet .column {font-weight:bold;background-color:#1973BA;color:#FFFFFF;}
.order_sheet td{border:1px solid #7F9BB9;height:25px;text-align:center;padding:0 1px;word-wrap:break-word;overflow:hidden;}
.order_number {width:95%;}
.order_number td {padding:10px 0;}
.order_number .header {font-weight:bold;width:120px;}
.order_number .field {color:#804040;font-weight:bold;}
.order_number .clue {font-weight:bold;color:#E52874;text-align:right;}

.invoice {width:95%;}
.invoice .head {font-weight:bold;}
.invoice .owner_name{font-size:14pt;font-weight:bold;}
.invoice .cart {width:100%;border-collapse:collapse;border:none;}
.invoice .cart .column{font-weight:bold;background-color:#1973BA;color:#FFFFFF;}
.invoice .cart td{border:1px solid #7F9BB9;height:25px;text-align:center;padding:0 1px;word-wrap:break-word;overflow:hidden;}
.invoice .cart .head{font-weight:bold;text-align:left;padding-left:2px;}
.invoice_title {font-weight:bold;font-size:14pt;}

.print_order{text-align:center;width:95%;border-collapse:collapse;}
.print_order_no{border:1px solid #7F9BB9;}
.print_order .field {color:#804040;font-weight:bold;padding:10px 0;text-align:left;}
.print_address{border:1px solid #7F9BB9;width:50%;vertical-align:top;padding:10px 0;}
.iframe_email{display:none;visibility:hidden;}
.iframe_email iframe{width:1;height:1;}
.email_content{}

.roll_board,.info {text-align:left;}
.roll_title {font-weight:bold;font-size:14px;color:#1973BA;}
.roll_date {font-weight:bold;font-size:12px;color:#800000;}
.roll_content {font-size:12px;color:#000000;}
.info td {font-weight:bold;padding-left:5px;}
.owner {font-weight:bold;color:#1973BA;font-size:14pt;}

.news_board{padding-bottom:20px;text-align:left;}
.news_title{font-weight:bold;font-size:12pt;padding-bottom:5px;color:#A52874;text-align:left;}
.news_date{font-size:10pt;color:#1973BA;padding-bottom:5px;padding-left:20px;text-align:left;background:transparent url(../img/main/e01.gif) no-repeat left 0.3em;}
.news_board a{color:#1973BA;}
